.navbar{ 
    background-color: $mainColor;
            .logo-container {
                display: flex;
                max-width: 100px;
                height: auto;
                text-align: center;
                flex-direction: row;
                align-items: center;
                .logo {
                    margin-right: 40px;
                    width: 100%;
                }
                .texto{
                    display: inline-block;
                    vertical-align: center;
                    font-family: $secondaryFont;
                    font-weight:$textMed; 
                    color: $forthColor;
                    font-size:$textMd;
                    padding: 0 20px;
                    text-align: left;

                    @media screen and (max-width: 480px) {
        
                       
                        font-size: 1rem;
                        
                    }
                    
                }
            }
                    ul{
                            li{
                                a{
                                    color:$keyColor ;
                                    text-decoration: none;
                                    font-family: $mainFont;
                                    font-size:$textSm ;
                                    padding: 30px;
                    }
                }
            }
        form{
            .btn-white{
                background-color: $keyColor;
                color: $mainColor; 
              }
              
        }
        }

