//tipography

$mainColor: rgb(0, 65, 87);
$secondaryColor: #d6d6d6;
$tertiaryColor: rgb(86, 86, 86);
$forthColor: rgb(191, 191, 191);
$keyColor: white;
 

//fonts

$mainFont: 'Roboto', sans-serif ;
$secondaryFont: 'Lexend Deca', sans-serif;
$textXxsm: 1rem;
$textXsm: 1.3rem;
$textSm: 1.5rem;
$textMd: 1.8rem;
$textXmd: 2rem;
$textLg: 2.5rem;
$textbold: 300;
$textMed:200;
$textLight:100;